<?xml version="1.0" encoding="utf-8"?>
<publishData>
  <publishProfile
    publishUrl="https://EC2AMAZ-E14IMSD:8172/msdeploy.axd"
    msdeploySite="CapitalPayApi"
    destinationAppUrl="http://EC2AMAZ-E14IMSD:80/"
    mySQLDBConnectionString=""
    SQLServerDBConnectionString=""
    profileName="Default Settings"
    publishMethod="MSDeploy"
    userName="EC2AMAZ-E14IMSD\Administrator" />
</publishData>